div {
  border: 1px solid gray;
}

.text-center {text-align: center;}

.p1-2 {padding: 1rem 2rem;}

.mb-1 {margin-bottom: 1rem;}

.display-grid {display: grid;}
.grid-tem-col-1fr2 {grid-template-columns: 1fr 1fr;}